<div class="row">
<% if user_signed_in? %>
	<% @projects.each do |post| %>
  <div class="col-sm-6  my-3">
    <div class="card p-2 box">
      <div class="card-block">
        <h4 class="card-title blue">
          <strong>
            <%= post.title%>
            </strong>
            <% if current_user.id == post.user_id %>
            <small class="text-muted">
              <a href="<%= edit_project_path(post) %>" class="float-right my-2" style="font-size: 11px;">Edit project</a>
            </small>
              <% end %>
          </h4>
        <hr class="my-3">
          <p>
            <%= post.short_description %>
          </p> 
        <small class="text-muted">
          Project by: 
          <strong>
            <em>
             <%= "#{post.user.first_name.capitalize!} #{post.user.last_name.capitalize!}" %>   
              </em> 
          </strong>
        </small>
       <%= is_approved?(post) %>
        <a href="<%= show_project_path(post) %>" class="btn btn-block btn-outline-primary my-4">
          View project
        </a>

      </div>
    </div>
  </div>
  <% end %>
  <% else %>
  	<div class="card card-body bg-light" style="margin-top: 100px;">
     <h3 class="text-center">The Final Projects</h3>
     <hr>

    <%= link_to "Hack in", new_user_session_path, class: "btn btn-primary btn-block"  %>
     	
		</div>
<% end %>
</div>
