<div class="row">
	<div class="col-md-12">
		<h1 class="display-5 text-center">
			<strong>
							Propose un projet final
			</strong>
		</h1>
	</div>
</div>	
<hr>	
<%= form_for @project do |f| %>
<div class="row">
	<div class="col-md-12"  style="margin-bottom:100px;">	
			<div class="form-group">
		 		<label for="title" class="instructions">
		 			Comment s'appelle ton projet ?
		 				</label>
		 			<label>
		 			<small class="text-muted help">
						Le nom, en max 50 caractères
					</small>
				</label>
		 		<%= f.text_field :title, class: 'form-control', required: true %>
		 	</div>

		 		<div class="form-group">
		 		<label for="title" class="instructions">
		 			Décris succinctement le projet
		 			</label>
		 		<label>
					<small class="text-muted help">
						En 140 caractères, que fait ton projet ?
					</small>
		 		</label>
		 		<%= f.text_field :short_description, class: 'form-control', required: true %>
		 	</div>
		 	
		 	<div class="form-group">
		 		<label for="title" class="instructions">
		 			Décris longuement ton projet. 
		 			</label>
		 		<label>
		 			<small class="text-muted help">
						Tu peux trouver des exemples ici : 
						<a href="https://trello.com/b/3MnW23sE/final-projects-session-2" target="_blank">
							<img class="known-service-icon" src="https://a.trellocdn.com/dist/images/services/trello.e1b7406bd79656fdd26c.png" style="width: 15px;"> Final Projects - Session 2
						</a>

		 				<em>
		 				Tu peu faire du <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="_blank">Mardown</a> pour ta description.</em>
		 			</small> 
			</label>
		 		<%= f.text_area :description, class: 'form-control', required: true %>
		 	</div>

		 		<div class="form-group">
		 		<label for="title" class="instructions">
		 			Pourquoi les gens doivent rejoindre ce projet ?
		 		</label>
		 		<label>
		 			<small class="text-muted help">
						Pourquoi ce projet est bien ? Pourquoi untel devrait venir bosser avec toi et pas avec un autre projet ? Pitche au mieux le projet, sinon les gens iront voir ailleurs 😉
		 				<em>
		 				Tu peu faire du <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="_blank">Mardown</a> pour ton pitch.</em>
		 			</small> 
		 			</label>
		 		<%= f.text_area :pitch, class: 'form-control', required: true %>
		 	</div>

		  <%= f.submit "Create project", class: 'btn btn-block btn-primary' %>
	</div>
</div>
<% end %>