<div class="row">
	<div class="col-md-12">
		<div class="container my-3">
		<%= render 'projects/partials/project_header' %>	
		<div class="row">
			<%= render 'projects/partials/project_body' %>
		</div>
			<div class="container">
				<div class="row">
					<div class="col-md-12 my-3">
					<%= render 'projects/partials/project_registration_count' %>
				<div class="container">
					<div class="row">
						<div class="col-md-12 my-3">
							<%= render 'projects/partials/registration_button' %>
						</div>
					</div>
				</div>	
					<%= render 'projects/partials/user_registration_table' %>
			</div>
		</div>
	</div>	
	<%= render partial: "comments/template", locals: {commentable: @project, new_comment: @comment} %> 
		<%= render 'projects/partials/project_creator_card' %>
	</div>
</div>
 
