<div class="row">
	<div class="col-md-12">
		<div class="container my-3">
			<span class="float-right" id="big">
			 <%= is_approved?(@project) %>
				</span>
				<div class="row">
				<h1>
					<strong class="text-center">
					<%= @project.title %>
					</strong>
				</h1>
				</div>
			</div>
		<div class="card text-white bg-info mb-3 text-center">
  <div class="card-block">
    <blockquote class="card-blockquote my-3">
      <p>
				<%= @project.short_description %>
      </p>
      <footer>
      	
      </footer>
    </blockquote>
  </div>
</div>
		
		<h4 class="text-center">
			
		</h4>

		<div class="row">
			<div class="col-md-6">
				<h2 class="text-center">
					<strong>
						Le pitch		
					</strong>
				</h2>
				<hr>
					<%= markdown(@project.pitch) %>
			</div>
			<div class="col-md-6">
				<h2 class="text-center">
					<strong>
						La description		
					</strong>
				</h2>
				<hr>
					<%= markdown(@project.description) %>
			</div>
		</div>

			<div class="card card-outline-primary mb-3 text-center">
  <div class="card-block">
    <blockquote class="card-blockquote my-3">
      <div class="gravatar text-center">
      		<%= gravatar_for @project.user, size: 80 %>
      	</div>
      <footer class="my-3">Project by: <cite title="Source Title">
      	 <%= "#{@project.user.first_name.capitalize!} #{@project.user.last_name.capitalize!}" %>   
      </cite></footer>
    </blockquote>
       <% if user_signed_in? && current_user.id == @project.user_id %>
      <a href="<%= edit_project_path(@project) %>" class="btn btn-md btn-success float-left my-3" style="margin-left:15px;">Edit project</a>
      <span style="margin-right:15px;>
         <%= link_to "Delete", project_path(@project), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-md btn-danger float-right my-3'  %>
         </span>
      <% end %>
  </div>
</div>
	</div>
</div>