<div class="col-md-12 my-3">
<% @projects.each do |post| %>
    <div class="card border-primary mb-3 box" style="max-width: 15rem;">
    <div class="card-header">
      <%= post.title %>
       <h4 class="card-title">
        <%= home_page_is_approved?(post) %>
      </h4>
    </div>
    <div class="card-body">
     
      <p class="black-card-text">
        <%= post.short_description %>
      </p>
    </div>
    <div class="card-footer text-muted">
      <p>
        <small>
          Project by: 
          <strong>
            <em>
             <%= "#{post.user.first_name.capitalize!} #{post.user.last_name.capitalize!}" %>   
              </em> 
          </strong>
        </small>
      </p>
      <a href="<%= show_project_path(post) %>" class="btn btn-block btn-outline-primary">
      View project
      </a>
    </div>
  </div>  
<% end %>
</div>