<!DOCTYPE html>
<html>
  <head>
  	<%= render 'includes/head' %>
  
  </head>


    <body>      
  
    <%= render 'includes/main_navigation' %>

    
    <main role="main" class="main container">
          <%= render 'includes/flash_messages' %>

      <%= yield %>
    </main>

    <%= render 'includes/footer' %>
    <%= render 'includes/comments_destroy_modal' %>
  </body>
</html>
